*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 2rem;
  min-height: 100vh;
  color: #333;
  background: #f2f2f2;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.3;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 14px;
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* ACCORDION */

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
  background-color: #e2e2e2;
}

details[open] {
  padding: 0.5em;
  border: 1px solid #ddd;
}

details[open] summary {
  margin-bottom: 0.5em;
}

/* SHARED CLASSES */

.nowrap {
  white-space: nowrap;
}
