body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Title */

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.title > a {
  text-decoration: none;
}

/* Table */

.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.name-col,
.cal-col {
  text-align: start;
}

.nutrient-col,
.category-col {
  text-align: start;
}

table {
  overflow-x: auto;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}


@media (min-width: 768px) {
  .table-container {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .name-col,
  .cal-col {
    text-align: center;
  }
  
  .nutrient-col,
  .category-col {
    text-align: end;
  }
  
  table {
    overflow-x: auto;
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
}

/* Search */

.search-container {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#search {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
}
