/* Global */

.hidden {
  display: none;
}

/* Title */

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title > a {
  text-decoration: none;
}

/* Introduction message */

.disclaimer {
  margin-bottom: 20px;
}

/* Tabs */

.tabs {
  display: flex;
  justify-content: center;
  gap: 30px;
  height: 30px;
}

.tab {
  cursor: pointer;
}

.tab:hover {
  text-decoration: underline;
}

.selected {
  text-decoration: underline;
}

.vl {
  border: 1px solid #333;
}

/* List */

#exerciseList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.exercise-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  margin-bottom: 0px;
}

.hints-container {
  margin-bottom: 5px;
}

.hint-list-title {
  font-weight: 600;
}

.hint-list {
  list-style-type: none;
}

.hint {
  font-style: italic;
  color: #727272;
}

.hint::marker {
  content: '💡';
  font-style: normal;
}

.warning {
  color: #f25522;
}
.warning::marker {
  content: '⚠️'
}

.sets {}

.reps {}

.hold {}

.rest {}

.examples {
  display: flex;
  gap: 20px;
}

.example-img-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #828282;

  span {
    font-style: italic;
    /* font-size: 1.5rem; */
  }
  img {
    width: 20rem;
  }
}
