/* Global */

.hidden {
  display: none;
}

summary {
  cursor: pointer;
}

/* Title */

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title > a {
  text-decoration: none;
}

/* Introduction message */

.disclaimer {
  margin-bottom: 20px;
}

.disclaimer > summary {
  width: 150px;
}

/* Tabs */

.tabs {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.tab {
  cursor: pointer;
}

.tab:hover {
  text-decoration: underline;
}

.selected {
  text-decoration: underline;
}

.vl {
  border: 1px solid #333;
}

/* List */

#exerciseList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exercise-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label {
  margin-bottom: 0px;
}

.hints-container {
  margin-bottom: 5px;
}

.hint-list-title {
  font-weight: 600;
}

.hint-list {
  list-style-type: disc;
}

.hint {}

.warning {
  color: #f25522;
}

.sets {}

.reps {}

.hold {}

.rest {}

.img-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  img {
    width: 300px;
  }
}

.accordion > summary {
  width: 80px;
}